.background{
    background-color: blue;
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home-background{
    background-color: blue;
    justify-content: center;
}

.home-fig img{
    background-color: aqua;
    border-radius: 60px;

}